* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;

}


.box1 {
    background: orange;
}

.box2 {
    background: pink;
}

.box3 {
    background: seagreen;
}

.box4 {
    background: saddlebrown;
}

.box5 {
    background: palevioletred;
}

.box6 {
    background: turquoise;
}

.box7 {
    background: wheat;
}

.box8 {
    background: olive;
}

.box9 {
    background: chartreuse;
}

/*  */
.box10 {
    background: sandybrown;
}


.container {
    display: flex;
    border: 10px solid blueviolet;
    /* how is this differnt from flex direction? */
    /* can do center, space-between, space-around(space on left and right too)*/
    justify-content: end;
    /* if you make flex-direction to column, it will switch teh main access to be a cross access */
    flex-direction: column;
    /* need our min height to be set so our justify-content knows where's the start and end */
    min-height: 100vh;


    /* How to vertically center with flex box */
    /* display: flex; 
    justify-content:center;
    flex-direction:column;
    min-height:100vh;
    */
    /* always ask where is the main access and where is the cross access */

}

.box {}